.login{
    display:flex;
    justify-content:center;
}
.loginbox{
    margin-top: 10rem;
    align-items:center;
    justify-content:center;
    width: 370px;
    height:300px;
    background-color:turquoise;
}
.loginheader
{
    padding:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-family: Autumn;
    font-size:xx-large;
}
.inputs {
    padding: 30px;
}
.email {
    width: 100%;
    height:20px;
    border-radius: 9px;
}
.password {
    width: 100%;
    height: 20px;
    border-radius: 9px;
}
.btn {
    margin-left:43px;
    width: 80%;
    height: 30px;
    border-radius: 40px;
}
