
.login {
    display: flex;
    align-items:center;
    justify-content: center;
    Background: linear-gradient(to bottom right, violet, red);
    padding:100px;
}
.loginbox{
    margin-top: 10rem;
    align-items:center;
    justify-content:center;
    width: 370px;
    height:400px;
    background-color:turquoise;
    border-radius:50%;
}
.loginheader
{
    padding:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-family: Autumn;
    font-size:xx-large;
}
.inputs {
    padding: 30px;
}
.username {
    width: 100%;
    height:20px;
    border-radius: 9px;
    margin-bottom:20px;
    padding:4px;
}
.password {
    width: 100%;
    height: 20px;
    border-radius: 9px;
    border-width: 1;
    padding: 4px;
}
.btn {
    margin-left:43px;
    width: 80%;
    height: 30px;
    border-radius: 40px;
    background-color:darkorchid;
    color:azure;
}
.btn:hover{
    background-color:gold;
}